<div class="dashboard-container">
  <mat-toolbar class="dashboard-toolbar">
    <span>
      <mat-icon>account_balance</mat-icon>
      Nonprofit Compliance Checker
    </span>
    <span class="spacer"></span>
    <span class="user-info">
      <mat-icon>person</mat-icon>
      {{ currentUser?.username }} ({{ currentUser?.role }})
    </span>
    <button mat-icon-button [matMenuTriggerFor]="userMenu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #userMenu="matMenu">
      <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        Logout
      </button>
    </mat-menu>
  </mat-toolbar>

  <div class="dashboard-content">
    <mat-tab-group>
      <mat-tab label="Search Nonprofit">
        <ng-template matTabContent>
          <app-search-form></app-search-form>
        </ng-template>
      </mat-tab>
      <mat-tab label="Search History">
        <ng-template matTabContent>
          <app-history></app-history>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>


